<form id="form-id">
	<div class="btn-group">
		<button class="btn btn-default" id="attendance" onclick="button_click();">참석 </button>
		<button class="btn btn-default" id="uncertain">불확실</button>
		<button class="btn btn-default" id="absence">불참</button>
	</div>
</form>