 <!-- 
<% @include_schedules_js = true %>
 -->
<script type="text/javascript">
// var save_button = document.getElementById('form_id')
// save_button.onclick = saveData;
// function saveData(){
// 	var input = document.getElementById("saveStatus");
// 	localStorage.setItem("paticipation", input.value );
// 	var storeValue = localStorage.getItem("paticipation");
// }
</script>

<form id="form-id">
	<div class="btn-group">
		<button class="btn btn-default" id="attendance" onclick="button_click();">참석 </button>
		<button class="btn btn-default" id="uncertain">불확실</button>
		<button class="btn btn-default" id="absence">불참</button>
	</div>
</form>