<h1>New Timetable</h1>


<div class="content">
<table border="1" width="600" height="500">
	<tr>
		<th width="70"></th>
		<th>월</th>
		<th>화</th>
		<th>수</th>
		<th>목</th>
		<th>금</th>
		<th>토</th>
		<th>일</th>
	</tr>
	<tr>
		<th>8시</th>
	</tr>
	<tr>
		<th>9시</th>
	</tr>
	<tr>
		<th>10시</th>
	</tr>
	<tr>
		<th>11시</th>
	</tr>
	<tr>
		<th>12시</th>
	</tr>
	<tr>
		<th>13시</th>
	</tr>
	<tr>
		<th>14시</th>
	</tr>
	<tr>
		<th>15시</th>
	</tr>
	<tr>
		<th>16시</th>
	</tr>
	<tr>
		<th>17시</th>
	</tr>
</table>
</div>